@media only screen and (max-width: 960px)
{
    @font-face {
        font-family: 'Montserrat';
        src: url('Montserrat-ThinItalic.woff') format('woff');
        font-weight: 100;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: url('Montserrat-Thin.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }
    
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .body{
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
    }
    
    .container{
        position: fixed;
        width: 100%;
        max-width: 960px;
        height: 1200px;
        background: linear-gradient(156.21deg, rgba(113, 13, 13, 0.979) 0%, rgba(60, 11, 68, 0.925) 60.9%);
    
        width: 100%;
    }
    
    #logo__header{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 50px;
        top: 89px;
    
        background: #4D98C8;
        border-radius: 12px;
        filter: drop-shadow(0px 2px 35px rgba(0, 119, 255, 0.596));
    }
    
    #logo__header img{
        position: absolute;
        width: 60px;
        height: 53.33px;
        top: 9px;
        background: url(image/blushing.png);
        border-radius: 12px;
    }
    
    .namesite{
        position: absolute;
        width: 179px;
        height: 20px;
        left: 80px;
        top: 20px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    
        letter-spacing: 0.1em;
    
        color: #FFFFFF;
    }
    
    a {
        text-decoration: none;
        display: inline-block;
    }
    
    ul{
        position:absolute;
        left: 500px;
        top: 100px;
    }
    
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .menu li{
        display: inline-block;
    }
    
    .menu a{
        color:#ffffff;
        font-size: 12px;
        font-weight: bold;
        line-height: 36px;
        border: 2px solid transparent;
        padding: 0px 16px;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
    }
    
    .menu a:hover{
        border-radius: 15px;
        border-color:#1899fd;
        color: #1899fd;
        filter: drop-shadow(0px 2px 10px rgba(0, 119, 255, 0.87));
    }
    
    .menu li + li{
        padding-left:10px;
    }
    
    .line{
    position: absolute;
    width: 100%;
    height: 0px;
    top: 181px;
    animation: blinker 5s linear infinite;
    
    border: 2px solid #4D98C8;
    filter: drop-shadow(0px 2px 10px rgba(0, 119, 255, 0.87));
    }
    
    @keyframes blinker {
        50% {
        opacity: 0;
        }
    }
    
    .offer{
        position: absolute;
        width: 430px;
        height: 132px;
        left: 100px;
        top: 269px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 22px;
        line-height: 44px;
        letter-spacing: 0.1em;
    
        color: #ffffff;
    }
    
    .discript{
        position: absolute;
        max-width: 250px;
        height: 145px;
        left: 100px;
        top: 380px;
        word-break:break-all;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 16px;
        line-height: 29px;
    
        color: #FFFFFF;
    }
    
    button {
        position: absolute;
        height: 50px;
        width: 160px;
        left: 100px;
        top: 550px;
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        background: rgb(66, 161, 215, 0.9);
        cursor: pointer;
        border-radius: 35px;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 900;
    }
    
    .textbutoff{
        position: absolute;
        left: 50px;
        top: 18px;
    }
    
    button img{
        position: absolute;
        width: 25px;
        height: 19px;
        left: 20px;
        top: 18px;
        
        background: url(image/telegram.png);
    }
    
    
    button:before {
        position: absolute;
        content: '';
        top: -2px;
        left: -2px;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        border-radius: 35px;
        z-index: -1;
        opacity: 0;
        filter: blur(5px);
        background: linear-gradient(45deg, #00e1ff, #0099ff, #006eff, #001aff, #2600ff, #002bff, #3700ff);
        background-size: 400%;
        transition: opacity .3s ease-in-out;
        animation: animate 10s linear infinite;
    }
    
    button:hover:before {
        opacity: 1;
    }
    
    button:hover:active {
        background: none;
    }
    
    button:hover:active:before {
        filter: blur(2px);
    }
    
    @keyframes animate {
        0% {
        background-position: 0 0;
        }
        50% {
        background-position: 400% 0;
        }
        100% {
        background-position: 0 0;
        }
    }
    
    .zerotwo{
    position: absolute;
    left: 500px;
    top: 181px;
    
    background: url(pngegg.png);
    filter: drop-shadow(0px 4px 35px rgba(0, 240, 255, 0.7));
    }

    .zerotwo img{
        width: 358px;
        height: 478px;
    }
}    